* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    margin: 50px 0px 20px 0px;
    font-size: 300%;
}

.container {
    width: 100%;    
    margin: 0 auto;
    text-align: center;
    max-width: 1600px;
    height: auto;
}

.block__1, .block__2, .block__3 {
    float: left;
    padding: 20px;
}

.content {
    border: 1px solid black;
    position: relative;
}
.text {
    padding: 35px 15px 10px 15px;
}

.title {
    position: absolute;
    right: -1px;
    top: -1px;
    border: 1px solid black;
    height: 30px;
    min-width: 120px;
    font-weight: 600;
    padding-top: 5px;
}

.c1 {
    background: rgb(109, 242, 85);
}

.c2 {
    background: rgb(255, 238, 6);
}

.c3 {
    background: rgb(57, 92, 233);
}

.t1 {
    background: rgb(243, 75, 75);
}

.t2 {
    background: rgb(185, 146, 232);
}

.t3 {
    background: rgb(247, 157, 60);
}

@media (min-width: 992px){
    .block__1, .block__2, .block__3 {
        width: 33%;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .block__1, .block__2 {
        width: 50%;
    }

    .block__3 {
        width: 100%;
        margin-top: 10px;
    }
}

@media (max-width: 767px){
    .block__1, .block__2, .block__3 {
        width: 100%;
        margin-bottom: 10px;
    }
}
